[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule "aweseome-wm-widgets"]
	path = aweseome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
